.slider11 {
width: 100%;
 margin: 0 auto;
  overflow: hidden;
  padding: 30px 16px!important;
  overflow: hidden;
  margin-bottom: 62px;


 
  overflow: hidden;
}
.slider11 .caption{
  padding: 0!important;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}


.slider11 .caption a {
  display: inline-block;
  height:70%;
  line-height: 40px;

  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: epic-bold;
  padding-left: 18px;
  
}
.slider11 .caption svg {
height:27px;
  line-height: 40px;

}

 .view-more{
  width: 105.59px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.342);
  border-radius: 8px;
  margin-left: auto;
  color:white;
  font-family:epic-md;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  vertical-align:top;
}

.slider11 .swiper {
  width: 100%;
  height: 100%;
   overflow: hidden;
 

}
.slider11 .swiper .swiper-wrapper{
   width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap!important;
  align-items: center;
  justify-content:center;
  column-gap: 15px;

}

.slider11 .swiper .swiper-slide {
 margin-top: 10px;
  width: 45%!important;
  text-align: center;
  font-size: 18px;  
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items:start;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 40px;
}
.slider11 .swiper .swiper-slide .image{
   width: 100%;
height: 258.66px;
  position: relative;
            border-radius: 8px;
            margin-bottom: 20px;

}

.slider11 .swiper .swiper-slide .image img {
  width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top:0;
            left: 0;
             border-radius: 8px;

 

}
.slider11 .swiper .swiper-slide .image .layer{
 width: 100%;
            height:26px;
            object-fit: cover;
            position: absolute;
           bottom:0;
            left: 0;
            background-color:#26bbff;
        
             border-radius:0 0 8px 8px;
             font-family:epic-md;
             font-size: 14px;
             text-align: center;
             line-height: 25.98px;
             font-weight:600;
             color: black;
  

}
.slider11 .swiper .swiper-slide .image .layer2{
 width: 100%;
            height:26px;
            object-fit: cover;
            position: absolute;
           bottom:0;
            left: 0;
            background-color:black;
        
             border-radius:0 0 8px 8px;
             font-family:epic-md;
             font-size: 14px;
             text-align: center;
             line-height: 25.98px;
             font-weight:600;
             color:#fff;
  

}



.slider11 .swiper .swiper-slide .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.slider11 .swiper .swiper-slide .content p:first-of-type{
   display: flex;
  justify-content: start;
  width: 100%;
  font-family: epic-md;
  font-size: 12px;
  color: rgba(170, 170, 170, 1);
  text-align: left;
  margin-bottom: 10px !important;
}

.slider11 .swiper .swiper-slide .content p {
 display: flex;
  justify-content: start;
  width: 100%;
  font-family: epic-md;
  font-size: 14px;
  color: rgba(170, 170, 170, 1);
  text-align: left;
  margin-bottom: 10px !important;

}
.slider11 .swiper .swiper-slide .content h2 {
  display: flex;
  justify-content: start;
  width: 100%;
  font-family: epic-bold;
  color: #fff;
  font-size:16px;
  /* margin-bottom: 20px; */
  text-align: left;
}
.slider11 .swiper .swiper-slide .content div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content:start;
  column-gap: 5px;
}
.slider11 .swiper .swiper-slide .content div div {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 20px;
  text-align: center!important;
  border-radius: 10px;
  font-size: 12px;
  font-weight:500;
  color: black;
  background-color: #26bbff;
}
.slider11 .swiper .swiper-slide .content div span:first-of-type {
  display: inline-block;
  width: 48px;
  height: 20px;
  font-size: 14px;
  font-family: epic-md;
  color: rgba(170, 170, 170, 1);
  text-decoration: line-through;
}
.slider11 .swiper .swiper-slide .content div span:nth-of-type(2){
      
               width:48px;
      height: 20px;
       font-size:14px;
         font-family: epic-md;
           color: rgb(253, 253, 253);
         

      }
      .slider11 .swiper .swiper-slide .content div span:last-of-type{
  display: inline-block;
  width: 60px;
  height: 20px;
  font-size: 14px;
  font-family: epic-md;
  color: rgba(170, 170, 170, 1);
  
}

