.slider1{
      
  overflow: hidden;
    
    margin: 0 auto;
    margin-bottom: 20px;

  
}

/* slider */
 .slider1 .swiper {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .slider1 .swiper .swiper-slide {
      width: 100%;
    height: 387px!important;
      text-align: center;
      font-size: 18px;
    border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height:100%;
      border-radius:16px;
      overflow: hidden;
       position: relative;
       background-color: blue;
       margin-bottom: 50px;
    }
    .swiper-slide .layer{
    width: 100%;
   height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0,0,0,0));
    border-radius: 16px;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 22;
}
.swiper-slide .layer .content{
  width: 100%;
  height: 30%;
  position: absolute;
  bottom:0;
  text-align: center;
}
.swiper-slide .layer .content h2{
  width: 100%;
  font-family: epic-bold;
  font-size: 16px;
  color:#fff;
  margin-bottom: 20px;
  
}
.swiper-slide .layer .content p{
  width: 80%;
  margin: 0 auto;
  font-family: epic-md;
   font-size: 14px;
  color:#fff
}

 .slider1 .swiper .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit:cover;
       border-radius: 16px;
     
    }
    .swiper-pagination{
        margin: 20px 0;
        width: 100%;
        height: 5px!important;
        margin-top: 20px;
    }
    /* ----------------------------------- */
    