.slider3{
      /* height:366.64px; */

 margin: 0 auto;
  overflow: hidden;
    margin-bottom: 62px;
    padding: 0 16px;
   
}
  .slider3 .swiper {
      width: 100%;
      height: 100%;
       padding: 0 16px;
        overflow: hidden;
       
    }

    .slider3 .swiper .swiper-slide {
      text-align: center;
      font-size: 18px;
     
      display: flex;
      flex-direction: column ;
      justify-content: start;
      align-items: start;
     
        border-radius: 8px;
         margin-bottom: 40px;

    }

    .slider3 .swiper .swiper-slide img {
     display: block;
      width: 100%;
      height: 180.5px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    .slider3 .swiper .swiper-slide h2{
        font-family:epic-bold;
        color: #fff;
        font-size: 20px;
        margin-bottom: 10px;

    }
    .slider3 .swiper .swiper-slide p{
        /* width: 80%; */
        font-family: epic-md;
        font-size: 14px;
        color: rgba(170, 170, 170,1);
        text-align: left;
        margin-bottom: 20px;

    }
     .slider3 .swiper .swiper-slide div{
        width: 146px;
        height: 40px;
        border-radius: 8px;
        background-color: #ffffff26;
        text-align: center;
        line-height: 40px;
        /* margin-bottom: 18px; */
     }
      .slider3 .swiper .swiper-slide div a{
        text-decoration: none;
        color: #fff;
        font-family:epic-md;
        font-size: 16px;
      }
       .slider3 .swiper .swiper-slide div svg{
        fill: #fff;
       }
       .slider3 .swiper  .swiper-pagination{
        margin: 10px 0 ;
        width: 100%;
        /* height: 5px!important;
         */
    }
    .swiper-pagination-bullet {
  width:6px;   
  height:6px;   
  margin: 0 6px !important; 
  background: #999;  
  opacity: 0.6;      
}

.swiper-pagination-bullet-active {
  background: #f4f6f8; 
  
  opacity: 1;
}