.slider14 {
   width: 77%;
   margin: 0 auto;
  overflow: hidden;

  overflow: hidden;
  margin: 62px auto;
  padding: 0 16px;
}



.slider14 .swiper {
  width: 100%;
  height: 100%;
   overflow: hidden;
}

.slider14 .swiper .swiper-slide {
 
  /* height: 468.92px; */
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:space-between;

  text-align: center;
  font-size: 18px;  

 align-content: 5px;

  border-right:1px solid rgba(255, 255, 255, 0.212);
  margin-bottom: 40px;
}
.slider14 .swiper .swiper-slide:last-of-type{
  border-right: unset!important;
}
.slider14 .swiper-slide .caption{
    margin-bottom: 30px;
    text-align: left;
    padding: 0!important;
}
.slider14 .swiper-slide .caption a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: epic-bold;
}
.slider14 .swiper .swiper-slide  .contente{
    width:95%;
    padding: 10px;
    display: grid;
    grid-template-columns: 0.94fr 3.5fr;
    grid-template-rows:1fr;
    column-gap:15px;
    border-radius: 8px;
}
.slider14 .swiper .swiper-slide  .contente:hover{
      background-color: #202024;
        border-radius:8px;
}

.slider14 .swiper .swiper-slide  .contente .image{
  width:48px;
  height: 64px;
  position: relative;
  border-radius:8px;

}

.slider14 .swiper .swiper-slide .contente .image img {
   width: 100%;
  height:100%;
  display: block;
   border-radius:8px;

 

  object-fit: cover;
  border-radius: 2px;


 

}

.slider14 .swiper .swiper-slide .contente .image .add{
  width: 24px;
  height: 24px;
  border-radius: 50%;

  text-align: center;
  line-height: 24px;
   position: absolute;
   top: 2px;;
   right: 2px;

  background-color: black;

  z-index:5;
  


}


.slider14 .swiper .swiper-slide .contente .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  row-gap: 5px;
}

.slider14 .swiper .swiper-slide .contente .content p {
 display: flex;
  justify-content: start;
  width: 100%;
  font-family: epic-md;
  font-size: 12px;
  color: rgba(170, 170, 170, 1);
  margin-bottom: 0!important;

}
.slider14 .swiper .swiper-slide .contente .content h2 {
text-align: left;
  width: 100%;
  font-family: epic-bold;
  color: #fff;
  font-size:16px;
    margin-bottom: 0!important;

}
.slider14 .swiper .swiper-slide .contente .content div {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content:start;
  column-gap:4px;
}
.slider14 .swiper .swiper-slide .contente .content div div {
  display: flex;
  align-items: center;
  justify-content:space-around;

  width: 48px;
  height: 20px;
 
  border-radius: 10px;
  font-size: 12px;
  font-weight:500;
  color: black;
  background-color: #26bbff;
}
.slider14 .swiper .swiper-slide .contente .content div span.before{
  display: inline-block;
  width: 48px;
  height: 20px;
  font-size: 14px;
  font-family: epic-md;
  color: rgba(170, 170, 170, 1);
  text-decoration: line-through;
}
.slider14 .swiper .swiper-slide .contente .content div .after{
      
               width:48px;
      height: 20px;
       font-size:14px;
         font-family: epic-md;
           color:#fff;
         

      }
      .slider14 .swiper .swiper-slide .contente .content div span.after2{
  display: inline-block;
 
  height: 20px;
  font-size: 14px;
  font-weight: 300;

  font-family: epic-md;
  color: rgba(170, 170, 170, 1);
  
}

