.footer-mob {
  width: 100%;
 overflow: hidden;
  padding: 80px 16px;
  background-color: #18181c;
  display: flex;
  flex-direction: column;
 position: relative;
  justify-content: space-between;
}
.footer-mob .logos {
  width: 95%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}
.footer-mob .logos .store {
 
  height: 32px !important;
  margin: 0 auto !important;
  margin: 0!important;
 
}
.footer-mob .logos .store img {
  width: 59px !important;
  height: 32px !important;
}
.footer-mob .logos .logo {

  height: 28px;
 
}
.footer-mob .logos .logo svg {
  width: 28px;
  height: 28px;
  fill: #ffffff88;
}
/* acorinfo */
.footer-mob .acorinfo{
  width: 95%;
  border-top: 1px solid rgba(128, 128, 128, 0.74);
  border-bottom: 1px solid rgba(128, 128, 128, 0.74);
  display: flex;
  flex-flow: row wrap;

}
.footer-mob .acorinfo .card{
  width: 33%;
    padding: 15px; 
  background-color: #18181c;
  color: #ddd;
 border-top: none !important;
  text-align: left; 
}
.footer-mob .acorinfo .card{
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: start;
  background-color: unset;
  border: unset;
  margin-bottom: 30px;


}
.footer-mob .acorinfo .card h2
{
    font-family: epic-bold;
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
}
.footer-mob .acorinfo .card .body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: start;

}
.footer-mob .acorinfo .card .body a
{ display: inline-block;
  width: 100%;

  font-family: epic-md;
  font-size: 14px;
  color: rgba(170, 170, 170, 1);
  text-align: left;
   margin-bottom: 10px;
  text-decoration: none;
}


/* acordion */
.footer-mob .buttom-foot {
  width: 100%;
  background-color: #18181c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
 
  padding-top: 10px;
  font-family: sans-serif;
}

.accordion {
  width: 100%;
  max-width: 430px;
  background-color: #18181c;
  border: none;
}

/* article */
article {
  width: 60%;
  font-family: epic-md;
  font-size: 12px;
  color: rgba(170, 170, 170, 1);
  text-align:left;
margin: 40px 3% 35px;


}

/* links */
.footer-mob .links {
  width:60%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-mob .links a {
  display: inline-block;
  width: 19%;

  font-family: epic-md;
  font-size: 12px;
  color: rgba(170, 170, 170, 1);
  text-align: center;

  text-decoration: none;
}

/* back to top */
.footer-mob .back-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: absolute;
  
  right: -40%;
  bottom:230px;
}
.footer-mob .back-top .back {
  width: 146.66px;
  height: 48px;
  border-radius: 8px;
  background-color: #ffffff26;
}
.footer-mob .back-top .back a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-family: epic-md;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
}
.footer-mob .back-top .back a svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
